@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

header:before {
  content: '';
  position: absolute;
  width: 200vw;
  min-height: 50vh;
  z-index: -1;
  background: url('./tilt.svg') 0 0 repeat;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  overflow: hidden;
  transform: rotateY(180deg);
}

header {
  min-height: 50vh;
  display: flex;
}

.info-container img {
  box-shadow: 5px 5px 10px 5px rgba(0.1, 0.1, 0.1, 0.4);
}

.info-container {
  display: flex;
  align-items: center;
  margin-left: 15vw;
}

.about h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.about p {
  font-family: 'Roboto';
  color: rgb(104, 103, 103);
  font-weight: 600;
  line-height: 23px;
}

.svg-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 30px;
}

.about {
  background-color: #fff;
  display: flex;
  justify-content: space-e;
  flex-direction: column;
  min-height: 36vh;
  max-width: 34vw;
  box-shadow: 5px 5px 10px 3px rgba(0.1, 0.1, 0.1, 0.2);
}

.about * {
  margin-left: 20px;
}

main h1 {
  float: left;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  /* margin-left: 230px; */
  min-height: 70vh;
}

main h1 {
  font-family: 'Playfair Display';
}

.project img {
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.project {
  max-width: 300px;
  min-height: 400px;
  box-shadow: 5px 5px 10px 2px rgba(0.1, 0.1, 0.1, 0.2);
}

.project-container1 {
  margin-bottom: 50px;
}

.project-container1,
.project-container2 {
  display: flex;
  justify-content: flex-start;
  gap: 60px;
  flex-wrap: wrap;
}
.desc h2 {
  font-family: 'Playfair Display';
}

.desc p {
  font-family: 'Roboto';
  font-weight: bold;
  color: rgb(92, 92, 92);
}
.desc h2,
.desc p {
  margin: 0;
  margin-top: 5px;
  margin-left: 10px;
  padding: 0;
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 10px;
  padding-bottom: 60px;
}

.proj-head {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.proj-head a {
  margin-top: 2px;
  transition: opacity 0.3s ease-out;
}

.proj-head a:hover {
  opacity: 0.7;
}

footer {
  min-height: 60vh;
  margin-top: 100px;
  background-color: #0389aa;
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.contact-info h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  font-size: xx-large;
}

.contact-info p {
  font-family: 'Roboto';
  max-width: 320px;
}

.phone,
.email {
  display: flex;
  align-items: center;
  gap: 10px;
}

.svg-footer-container {
  margin-top: 30px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.svg-footer-container {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

@media screen and (max-width: 1040px) {
  main {
    background-color: pink;
  }
  /* TODO: Keep this for mobile */
  /* .project-container1,
  .project-container2 {
    display: inline-block;
    margin: 0;
  } */
  main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    align-items: start;
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    min-height: 80vh;
    gap: 0px;
  }
  .project {
    margin-bottom: 20px;
  }
  .project-container1,
  .project-container2 {
    display: block;
  }
}
